<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.vexelon.eadditives.android"
      android:versionCode="1" android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        

    <activity android:name="TabWidgetActivity" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar"><intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
</activity><activity android:label="@string/app_name" android:name="BrowseActivity"></activity>

<activity android:label="@string/app_name" android:name="FavouritesActivity"></activity>
<activity android:label="@string/app_name" android:name="ShowItemActivity"></activity>

</application>
    <uses-sdk android:minSdkVersion="3"/>

</manifest> 